.navBar{
    display: flex;
    background-color: rgba(128, 128, 128, 0.699);
    justify-content: center;
}

.logo{
    flex-grow: 0.5;
    flex-shrink: 2;
    display: flex;
    padding-left: 2%;
    padding-top: 0.5%;
    padding-bottom: 1%;
}

.navegate{
    flex-grow: 3;
}

.navegate>ul{
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    padding-top: 1.5%;
}

.navegate>ul>li{
    flex-grow: 1;
    padding: 10px 10px;
}
.link{
    text-decoration: none;
    font-weight: 5px;
    color: #fff;
}

.link:hover{
    border-bottom: solid 2px honeydew;
}
.link:active{
    color: blue;
}

.form{
    display: flex;
}

.left{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.right{
    flex-grow: 1;
}
.fila{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
}
.fila>input, select{
    height: 25px;
    flex-grow: 1;
}
.fila>h4{
    width: 35%;
}
.fila>textarea{
    flex-grow: 1;
    height: 200px;
}
.area{
    flex-grow: 1;
    padding-left: 3%;
    padding-right: 3%;
}
#materiales>h1{
    padding-left: 2%;
}
#materiales{
    margin-top: 100px;
}

.buttons{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    padding-left: 5%;
}

.btnForms{
    padding: 15px 20px;
    margin-right: 2%;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.btnForms:nth-child(1){
    border: solid 2px rgb(66, 160, 66);
}
.btnForms:nth-child(1):hover{
    border: solid 2px rgb(66, 160, 66);
    background-color: rgb(66, 160, 66);
    color: #fff;
}
.btnForms:nth-child(2){
    border: solid 2px rgb(189, 214, 47);
}

.btnForms:nth-child(2):hover{
    border: solid 2px rgb(189, 214, 47);
    background-color: rgb(189, 214, 47);
    color: #fff;
}

.btnForms:nth-child(3){
    border: solid 2px rgb(230, 40, 40);
}
.btnForms:nth-child(3):hover{
    border: solid 2px rgb(230, 40, 40);
    background-color: rgb(230, 40, 40);
    color: #fff;
}